<footer class="-expand-md fixed-bottom bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 ISEP Diamniadio. Tous droits réservés.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="https://www.facebook.com/isep.diamniadio.12"><i class="fab fa-facebook fa-lg mx-3"></i></a>
        <a href="https://www.isepdiamniadio.com/?s=seven#"><i class="fab fa-twitter fa-lg mx-3"></i></a>
        <a href="https://www.isepdiamniadio.com/?s=seven#" class="instagram-icon"><i class="fab fa-instagram fa-lg mx-3"></i></a>
      </div>
    </div>
  </div>
</footer>
