<menu></menu>
<br><br><br><br><br><br><br>


<div class="container">
  <hr>
  <h2 class="text-center">Details De la filiére</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">{{ filiere.nom }}</h2>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h6 class="card-text"><strong>Date d'integration:</strong> {{ filiere.dateFil }}</h6>
          <h6 class="card-text"><strong>Pourcentage de reussite:</strong> {{ filiere.pourFil }}%</h6>
          <h6 class="card-text"><strong>Taux de reussite:</strong> {{ filiere.tauxFil }}%</h6>

        </div>
        <div class="col-md-6">
          <h2>Description:</h2>{{ filiere.description }}
        </div>
      </div>
    </div>
    <div class="buttons">
      <a class="btn btn-primary" [routerLink]="['/detailApprenant']" [queryParams]="{num: filiere.filNumber}">
        <i class="fas fa-edit"></i> Editer
      </a>
      &nbsp;
      <a class="btn btn-danger" (click)="supprimerFiliere()">
        <i class="fas fa-trash"></i> Supprimer
      </a>
    </div>
  </div>
</div>


<br><br><br><br><br>
<app-footer></app-footer>

