<menu></menu>
<br><br><br><br><br>
 <!-- Contenu de la page -->
 <div class="container mt-3">
  <!-- Formulaire d'inscription -->
  <div class="row justify-content-center mt-4">
    <div class="bg-info">
      {{promotion|json}}
    </div>
    <div class="col-12 col-md-6">
      <hr>
      <h2 class="card-title text-center">Ajouter Une Promotion</h2>
      <hr><br>
      <div class="card">
        <div class="card-body">
          <form #etuForm="ngForm" (ngSubmit)="saveProm()">
            <div class="mb-3">
              <label for="name" class="form-label">
                <i class="fas fa-percent"></i> Numero Promotion
              </label>
              <input type="text" name="numero" [(ngModel)]="promotion.promNumber"
              class="form-control" id="name" placeholder="Entrez len umero de la promo">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">
                <i class="fas fa-calendar"></i> Date de Debut
              </label>
              <input type="date" [(ngModel)]="promotion.dateDProm" name="dateD"
              class="form-control" id="email" placeholder="Entrez La date de debut">
            </div>
            <div class="mb-3">
              <label for="adresse" class="form-label">
                <i class="fas fa-calendar"></i> Date de fin
              </label>
              <input type="date" name="dateF" [(ngModel)]="promotion.dateFProm"
              class="form-control" id="adresse" placeholder="Entrez la date de fin">
            </div>
            <div class="mb-3">
              <label for="adresse" class="form-label">
                <i class="fas fa-percentage"></i> Pourcentage de Reussite
              </label>
              <input type="text" name="pourcentage" [(ngModel)]="promotion.pourProm"
               class="form-control" id="adresse" placeholder="Entrez le pourcetage des Certifiés">
            </div>
            <div class="mb-3">
              <label for="adresse" class="form-label">
                <i class="fas fa-deskpro"></i> Description
              </label>
              <textarea name="description" [(ngModel)]="promotion.description"
              id="" cols="30" rows="10" class="form-control" placeholder="Description"></textarea>

            </div>





            <button type="submit" class="btn btn-success">
              <i class="fas fa-group-plus"></i> Ajouter
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<app-footer></app-footer>


